*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-track {
    background: rgb(255, 206, 147);
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(71, 48, 20);
    border-radius: 10px;
    border: 3px solid rgb(247, 187, 114);
}
